div div a img{
    width: 150px;
    height: 150px;
}
.container-1{
    background-color: red;
    width: auto;
}
.container-2{
    background-color: green;
    width: auto;
}
.container-links{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'roboto',sans-serif;
    font-size: 72px;
}
div.container-1{
    center
}