/* header */

header {
    background-color: #fff;
    width: 100%; height: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.contain-title-and-logo {
    display: flex;
    width: 100%;
}
#name {
    font-family: 'Noto Serif KR', serif;
    font-size: 72px;
    margin-top: 15px;
    margin-left: 15px;
}
#logo {
    width: 100px; height: 100px;
    margin-top: 17px;
    margin-left: 15px;
}


/* entry */

.container-motto-text-button-entry {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.container-text {
    justify-content: center;
    margin-top: 200px;
}
.contain-motto-text {
    font-family: 'Noto Serif KR', serif;
    font-size: 72px;
    text-align: center;
    color: #005B3A;
}
.contain-text-presentation {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: center;
}
.container-button-buy {

    display: flex;
    justify-content: center;
}
.contain-button {
    margin-top: 50px;
}
.button {
    width: 160px; height: 80px;
    background-color: #005B3A;
    border-radius: 40px;
    box-shadow: 0px 8px #152821;
}
.button:active {
    transform: translateY(8px);
    box-shadow: 0px 0px;
}
.button > a {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.green-wave {
    width: auto; height: auto;
}


/* product */

.product {
    background-color: #FFFDF2;
    display: flex;
    flex-direction: column;
}
.contain-title-product {
    justify-content: center;
}
.title-product-and-service {
    color: #152821;
    font-family: 'Noto Serif KR', serif;
    font-size: 56px;
    text-align: center;
    margin-top: 50px;
}
.container-title-imgs {
    display: flex;
    justify-content: center;
}
.contain-title-product-and-description {
    flex-direction: column;
    width: 50%;
    text-align:center;
    margin-top: 150px;
}
.title-product {
    color: #005B3A;
    font-size: 56px;
    text-align: center;
    margin-left: -10rem;
    margin-bottom: 25px;
}
.text-product {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
#liste > li {
    font-size: 24px ;
    font-family: 'Inter', sans-serif;
    width: auto;
}
.container-imgs-product {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.first-line {
    display: flex;
}
.second-line {
    display: flex;
}
.contain-img {
    width: 260px;
    height: 260px;
    background-color: #005B3A;
    margin: 10px;
}